<%= render partial: "layouts/merchant_header", locals: {merchant: @merchant} %>

<h1>New Bulk Discount</h1>

<%= render partial: "bulk_discount_form", locals: {method: :post, model: [@merchant, @bulk_discount]} %>
